*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
input {
  font-family: "Space Mono", monospace;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}
